BasedOnStyle: LLVM
ColumnLimit: 100
IndentWidth: 4
AccessModifierOffset: -4
NamespaceIndentation: None
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Attach
SortIncludes: true
